*{
  margin: 0;
  padding: 0;
}

.principal-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 5%;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7E7CE;  
  width: 30%;
  height: 65%;
  border: 1px solid #F7E7CE;;
  border-radius: 10px;
  color: #6B4226;
}

.link{
  text-decoration: none;
  color: #6B4226;
  font-weight: bold;
}
.link:hover{
  color: #F7E7CE;
}